h1 {
	font-size: 2em;
	text-align: center;
}

div {
	font-style: italic;
	text-align: center; 
}

p {
	font-size: 1.5em;
	text-align: center;
}

li {
	display: inline;
}

.active {
	text-decoration: none; 
	list-style: none;
	display: inline;
	background-color: #66ff66;
}
