h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-style: italic;
	text-align: center; 
}

p {
	font-size: 1.5em;
	text-align: center;
}

div li {
	background-color: #66ff66;
	width: 100%; 
	display: inline;
	text-decoration: none; 
	list-style: none;
	display: inline;
	padding: 5px;
	color: black;
}

div li a:hover {
	background-color: #555;
    color: white;
}

